:root {
  --nav-grey: #333333;
  --input-grey: #252627;
  --code-grey: #1F1F1F;
  --nav: #c5c5c5;
  --active-nav: #FDFDFD;
  --c-blue: #51B2F3;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  /* 
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Mono', monospace;
  */

  /* pill collors */
  --g1-cambridge-blue: #adc9b2ff;
  --g2-forest-green-crayola: #62a36dff;
  --g3-erin: #31f752ff;
  --g4-forest-green-web: #138f27ff;
  --g5-forest-green-traditional: #1e5228ff;
  
  --o1-tumbleweed: #e6ab7eff;
  --o2-alloy-orange: #ba621eff;
  --o3-spanish-orange: #e36402ff;
  --o4-deep-saffron: #fc9444ff;
  --o5-raw-sienna: #bd875eff;
}

.btn {
  /* -webkit-box-shadow: 2px 2px 4px 0px #fff; 
box-shadow: 2px 2px 4px 0px #fff; */
  background-color: #F0F0F0;
  color: #000;
  text-align: center;
  border-radius: 5px;
  padding: 0 5px;
}

.btn--o1 {
  background: var(--o1-tumbleweed);
  color: #fff;
}
.btn--o2 {
  background: var(--o2-alloy-orange);
  color: #fff;
}
.btn--o3 {
  background: var(--o3-spanish-orange);
  color: #fff;
}
.btn--o4 {
  background: var(--o4-deep-saffron);
  color: #fff;
}
.btn--o5 {
  background: var(--o5-raw-sienna);
  color: #fff;
}
.btn--g1 {
  background: var(--g1-cambridge-blue);
  /* color: #fff; */
}
.btn--g2 {
  background: var(--g2-forest-green-crayola);
  color: #fff;
}
.btn--g3 {
  background: var(--g3-erin);
  /* color: #fff; */
}
.btn--g4 {
  background: var(--g4-forest-green-web);
  color: #fff;
}
.btn--g5 {
  background: var(--g5-forest-green-traditional);
  color: #fff;
}




/* remove input numbers arrows */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

body {
  background-color: var(--input-grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header {
  grid-column: 1/13;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: var(--nav-grey);
  color: var(--nav);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-icon .fa-solid {
  font-size: 2rem;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  text-decoration: none; 
  margin: 0 5px;
}



.nav-item {
  padding: 4px 10px;
  color: var(--nav);
  font-size: 1.rem;
  font-weight:600;
  letter-spacing: 1px;
  border-bottom: 2px solid var(--nav-grey);
}

.nav a:hover .nav-item{
  color: var(--c-blue);
  border-bottom: 2px solid var(--c-blue);
}

.home  *.nav-home,
.haas *.nav-haas,
.okuma *.nav-okuma,
.toshiba *.nav-toshiba {
  color: var(--c-blue);
  
}
.home a:hover *.nav-home,
.haas a:hover *.nav-haas,
.okuma a:hover *.nav-okuma,
.toshiba a:hover *.nav-toshiba {
  color: var(--c-blue);
  border-bottom: 2px solid var(--nav-grey);
}
.main {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top: 60px;
}
.aside {
  grid-column: 1/5;
  background: var(--input-grey);
  color: var(--nav);
  border-right: 3px solid #333;

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.form-section {
  /* width: 100%; */
}


.form-head {
  font-size: 1.25rem;
  margin-bottom: 10px;

}
.form-sec-input-sec {
  display: flex;
  margin: 5px 0;
  align-items: center;
}

.form-sec-input-sec label {
  width: 55px;
  margin-right: 5px;
  padding: 3px 7px;
}

.form-sec-input-sec input {
  width: 75px;
  margin-left: 5px;
  padding: 3px 7px;
  border-radius: 5px;
}

.submit-btn {
  border: none;
  font-size: larger;
  background: #d40202;
  margin: 15px 0;
  color: #fff;
  padding: 3px 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #fa2828;
}

.code-sec {
  grid-column: 5/13;
  background: var(--code-grey);
  font-family: 'Roboto Mono', monospace;
  color: var(--active-nav);
  padding:20px;
  line-height: 1.75;
  font-size: .9rem;
  /* word-wrap: normal; */
}

.footer {
  grid-column: 1/13;
  background: var(--nav-grey);
  min-height: 60px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--nav);
}


@media screen and (max-width: 600px) {

  .aside {
    grid-column: 1/6;
  }

  .code-sec {
    grid-column: 6/13;
  }


}